
<h1> Du lieu tu Controller gui ve la: @ViewBag.Message</h1>

<form asp-action="Index" method="post">
    <label>Nhap PersonID:</label>
    <input type="text" name="PersonID">
    <label>Nhap dia chi:</label>
    <input type="text" name="Address">
    <label>Nhap tuoi:</label>
    <input type="number" name="Age">
   
    <input type="submit" value="Gui du lieu">
</form>
